.selectors {
  margin-top: 25px;
}

.codebookSelectors {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  font-weight: 100;
  padding-top: 10px;
}

.codebookSelectors input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  --checkbox-size: 16px;
  appearance: none;
  border: 1px solid #000;
  width: var(--checkbox-size);
  height: var(--checkbox-size);
  border-radius: 3px;
  background-clip: padding-box;
  transition: background-color 0.1s;
}

.codebookSelectors input[type="checkbox"]:checked {
  background-color: #0070f3;
}

.checkbox {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 100;
  gap: 10px;
}

.selectAll {
  /* style button to look good */
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 100;
  cursor: pointer;
}

.selectAll:hover {
  transform: scale(1.05);
}

.selectAll:active {
  transform: scale(0.95);
}