.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blueSubtext {
  color: #0070f3;
}

.title {
  font-size: 40px;
  font-weight: 300;
  margin-top: 50px;
}

.subtitle {
  font-size: 20px;
  font-weight: 100;
  padding-top: 10px;
}

.queryBox {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.queryLabel {
  font-size: 14px;
  font-weight: 100;
  padding-bottom: 5px;
}

.queryInputBox {
  display: flex;
  align-items: center;
  gap: 20px;
}

.queryInput {
  width: 70%;
  height: 30px;
  border: 2px solid black;
  border-radius: 10px;
  outline: none;
  padding: 0px 10px;
  font-size: 16px;
  font-weight: 200;
}

.queryButton {
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 100;
  cursor: pointer;
  width: 15%;
  height: 32px;
}

.sourcesBox {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  font-weight: 100;
  font-size: 14px;
  gap: 10px;
}