/* .container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
} */

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blueSubtext {
  color: #0070f3;
}

.title {
  font-size: 40px;
  font-weight: 300;
  margin-top: 50px;
}

.subtitle {
  font-size: 20px;
  font-weight: 100;
  padding-top: 10px;
}

.selectors {
  margin-top: 25px;
}

.codebookSelectors {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  font-weight: 100;
  padding-top: 10px;
}

.codebookSelectors input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  --checkbox-size: 16px;
  appearance: none;
  border: 1px solid #000;
  width: var(--checkbox-size);
  height: var(--checkbox-size);
  border-radius: 3px;
  background-clip: padding-box;
  transition: background-color 0.1s;
}

.codebookSelectors input[type="checkbox"]:checked {
  background-color: #0070f3;
}

.checkbox {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 100;
  gap: 10px;
}

.selectAll {
  /* style button to look good */
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 100;
  cursor: pointer;
}

.selectAll:hover {
  transform: scale(1.05);
}

.selectAll:active {
  transform: scale(0.95);
}

.queryBox {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.queryLabel {
  font-size: 14px;
  font-weight: 100;
  padding-bottom: 5px;
}

.queryInputBox {
  display: flex;
  align-items: center;
  gap: 20px;
}

.queryInput {
  width: 60%;
  height: 30px;
  border: 3px solid black;
  border-radius: 10px;
  outline: none;
  padding: 0px 10px;
  font-size: 16px;
  font-weight: 200;
}

.queryButton {
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 100;
  cursor: pointer;
  width: 15%;
  height: 36px;
}