.main {
  margin-top: 30px;
  padding-bottom: 20px;
}

.sourceContent {
  width: 600px;
  padding: 15px;
  line-height: 1.4;
}

.title {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 10px;
}

.sourcesContainer {
  display: flex;
  flex-direction: row;
  width: 800px;
  border: 1px solid black;
}

.sourcesTitles {
  display: flex;
  flex-direction: column;
  width: 200px;
  border-right: 1px solid black;
}

.sourceTitle {
  text-align: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid black;
  height: auto;
  padding: 20px 5px;
}

.sourceTitle:last-child {
  border-bottom: none;
  height: 100%;
}

.selectedSourceTitle {
  background-color: rgba(0, 112, 243, 0.5);
}

.sourceTitleSubtext {
  font-size: 12px;
  color: #4a4a4a;
  padding-top: 4px;
}