.main {
  margin-top: 30px;
}

.sourcesContainer {
  display: flex;
  flex-direction: row;
  width: 800px;
  border: 1px solid black;
}

.sourcesTitles {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 0 15px;
  justify-content: center;
  border-right: 1px solid black;
}

.sourceTitle {
  margin-bottom: 15px;
  text-align: center;
}

.sourceTitle:hover {
  cursor: pointer;
}

.sourceTitle:first-child {
  margin-top: 15px;
}

.selectedSourceTitle {
  background-color: #e6e6e6;
}

.sourceContent {
  width: 600px;
  padding: 15px;
}